* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: rgb(255, 232, 236);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  font-size: 2rem;
  background-color: rgb(23, 25, 51);
  width: 500px;
  height: 500px;
  padding: 40px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  background-color: rgb(237, 248, 255);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
}

.die {
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgb(35, 35, 54);
  cursor: pointer;
}

.btn {
  background-color: rgb(110, 69, 150);
  color: rgb(255, 255, 255);
  width: 100px;
  height: 60px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
